@import "./assets/reset";
@import "./assets/./variants";

@import "./sections/header";
@import "./sections/footer";

@import "./sections/main-index";
@import "./sections/main-plantel";
@import "./sections/main-estadio";
@import "./sections/main-partidos";
@import "./sections/main-contacto";

a {
    text-decoration: none;
    color: $primary-color;
}

body {
    font-family: "Barlow-Medium"
}

.carrousel-home {
    border-top: $secondary-color solid 6px;
}

@import "../node_modules/bootstrap/scss/bootstrap";