#footer {
    width: 100%;
    margin: auto;
    margin-block: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #005B9E;

}

#footer p {

    margin-bottom: 0%;
    font-size: 12px;
}

.footer__logo {
    width: 80px;
}

.footer__info {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__redes {
    display: flex;
    align-items: center;
}