.container__info-elland-road {
    width: 80%;
    margin: auto;
    margin-block: 28px;
    background-color: #ffffff;

    h3 {
        color: $primary-color;
        font-family:"Barlow-Medium";
    }

    p {
        font-family: "Barlow-Regular";
        color: #000000;
    }

    .container__ubicación {
        width: 100%;

        iframe {
            width: 100%;
        }
    }

    @media (max-width:$media-720) {
        h3 {
            font-size: 16px;
        }

        p {
            font-size: 12px;
        }
    }

}