.container-matches {
    width: 90%;
    padding: 8px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-top: 1%;

    .container-vid-matches {
        width: 100%;

        .container__title-matches {
            @extend .title__sections;

        }
    
        .Vid__cards {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8px;

            .Vid {
                width: 100%;
                .vid-matches {
                    width: 480px;
                    height: 260px;
                    border-radius: 8px;

                }

                @media (max-width:$media-1000) {
                    width: 100%;
                    .vid-matches {

                        width: 100%;
                        height: 300px;
                    }
                }

                @media (max-width:$media-720) {
                    width: 100%;
                    .vid-matches {

                        width: 100%;
                        height: 200px;
                    }
                }
            }
        }

    }

}
