body {
    background-image: url(/resources/img/backgrounds/1.webp);
}

.container__nextmatch {
    width: 80%;
    margin: auto;
    margin-block: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ebebebaa;
    transition: 0.7s;
    border-radius: 16px;


    &:hover {
        background-color: #efefef;
        transition: 0.7s;
        box-shadow: 5px 5px 10px rgba(201, 201, 201, 0.3);
    }

    .nextmatch__logo {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            width: 190px;
            margin-top: 1%;
        }
    }

    .nextmach__teams {
        width: 100%;
        display: flex;
        justify-content: space-around;
        color: $primary-color;
        align-items: center;
        margin-block: 1%;

        img {
            width: 30%;
        }

        h3 {
            width: 140px;
            font-family: "Barlow-Medium";
            font-size: 20px;
            display: flex;
            justify-content: center;
            margin-bottom: 0%;

        }

        .nextmach__team-l-v {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .nextmach__date {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: "Barlow-Medium";
            color: #878787;

            p {
                margin-bottom: 0%;
                font-size: 14px;
            }
        }

    }

    @media (max-width:$media-1000){
        .nextmach__teams .nextmach__date p {
            margin-bottom: 0%;
            font-size: 12px;
        }
    }

    @media (max-width:$media-720) {

        .nextmatch__logo img {
            width: 100px;
            margin-top: 1%;
        }

        .nextmach__teams h3 {
            width: auto;
            font-size: 12px;
            display: flex;
            justify-content: center;
            margin-bottom: 0%;
        }

        .nextmach__teams .nextmach__date p {
            margin-bottom: 0%;
            font-size: 10px;
        }
    }


}

.container-banner-home {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-block: 1%;

    img {
        width: 100%;
        transition: opacity 0.7s;
        transition: 0.7s;
    }

    .content__banner {
        position: relative;
    }

    a {
        text-decoration: none;
        color: $primary-color;
    }

    .button__banner-home {
        width: 180px;
        height: 60px;
        border: none;
        border-radius: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        opacity: 0;
        transition: opacity 0.3s;
        font-family: "Barlow-Medium";
        font-size: 28px;
        transition: 0.7s;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    @media (max-width:$media-720) {
        .button__banner-home {
            width: 80px;
            height: 40px;
            font-size: 16px;
            opacity: 1;
        }

        img {
            opacity: 0.7;
        }
    }
}

.container-banner-home:hover img {
    opacity: 0.7;
    transition: 0.7s;
    transform: scale(1.02);

}

.container-banner-home:hover .button__banner-home {
    opacity: 1;
    transition: 0.7s;
    background-image: url(/resources/img/backgrounds/1.webp);
}


.container__lastnews {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1%;


    .lastnews__item {
        position: relative;
        overflow: hidden;

        @media (max-width:$media-720) {
            box-shadow: 5px 5px 10px rgba(83, 83, 83, 0.3);
            border-radius: 8px;
        }

        .lastnews__item-text {
            width: 100%;
            background-color: #ffffff;
            position: absolute;
            bottom: -60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: 0.7s;
            color: #878787;

            h5 {
                padding: 8px 8px 0px 8px;
                margin: 0;
                color: $primary-color;
                font-family: "Barlow-Medium";
    
            }
    
            p {
                padding: 8px 8px 0px 8px;
                font-family: "Barlow-Regular";
                color: #000000;
            }

            @media (max-width:$media-1000){
                
                bottom: -50px;

                h5 {
                    font-size: 18px;
                }

                p {
                    font-size: 12px;
                }
            }

            @media (max-width:$media-720) {
                bottom: 0px;

                h5 {
                    font-size: 16px;
                }

                p {
                    font-size: 12px;
                }
            }
        }


    }

    @media (max-width:$media-720) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }

    img {
        width: 100%;
        height: 100%;
    }

    .lastnews__item:hover {
        box-shadow: 5px 5px 10px rgba(83, 83, 83, 0.3);
    }

    .lastnews__item:hover .lastnews__item-text {
        bottom: 0px;
        transition: 0.7s;
    }

}