.container__info-elland-road {
    width: 80%;
    margin: auto;
    margin-block: 28px;
}

.container__info-elland-road h3 {
    color: #005B9E;
}

.container__ubicación {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;

}