.container-matches {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary-color; 

    .container-vid-matches {
        width: 80%;
        min-width: 80%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        .vid-matches {
            margin: 8px;
        }
    }
}


