.container-matches {
    width: 80%;
    padding: 8px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin-top: 1%;

    .container-vid-matches {
        .container__title-matches {

            width: 160px;
            background-color: $secondary-color;
            transform: skew(-20deg);

            h3 {
                padding: 0px 0px 4px 4px;
                color: $primary-color;
                font-family: "Barlow-Medium";
                font-size: 16PX;
            }
        }


        .Vid__cards {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8px;

            .Vid {
                .vid-matches {
                    width: 480px;
                    height: 260px;
                    border-radius: 8px;
                }
            }
        }
    }
}