.container__info-elland-road {
    width: 80%;
    margin: auto;
    margin-block: 28px;
    background-color: #ffffff;

    .container__title-elland-road {
        @extend .title__sections;
    }

    p {
        font-family: "Barlow-Regular";
        color: #000000;
    }

    .container__ubicación {
        width: 100%;

        iframe {
            width: 100%;
        }
    }

    @media (max-width:$media-720) {
        width: 90%;

        p {
            font-size: 12px;
        }

        .container__ubicación {

            iframe {
                width: 100%;
                height: 250px;
            }
        }
    }
}