.container-form-contac {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    margin-block: 135px;

    .inputs-form {
        width: 400px;
        display: flex;
        flex-direction: column;

        .input-element-contact {
            height: 50px;
            margin: 10px;
            padding: 4px;
            border-radius: 4px;
            background-color: #ffffff;
            border: 2px solid $primary-color;
            border-radius: 4px;
            font-size: 16px;
        }

        .button-element-contact {
            width: 380px;
            height: 50px;
            margin: 10px;
            background-color: $primary-color;
            border: 2px solid $primary-color;
            border-radius: 4px;
            font-size: 24px;
            color: #f8f8f8; 
            transition: 0.2s;
        }

        .button-element-contact:hover {
            background-color: $secondary-color;
            color: $primary-color;
            border-color: $secondary-color; 
            transform: scale(1.02); 
            transition: 0.2s;
        }
    }
}




